.container {
  position: relative;
  width: 512px;
  height: 512px;
  overflow: hidden;
  border: solid 1px yellow;
}

.map {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: absolute;
  /* top: -128px;
  left: -128px; */
}

.location {
  position: fixed;
  top: 550px;
  left: 0;
  font-family: Helvetica;
  text-align: center;
  width: 100%;
}
